<section id="about">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
                <hr class="primary">
                <p class="text-muted">
                  We conduct research on natural language understanding and support both commercial 
                  and public sector organizations with their data,
                  AI and natural language processing related initiatives.
                  Our expertise and experience ranges from strategy definition to hands-on development of
                  state-of-the-art machine learning and NLP systems.</p>
                </div>
              </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center">
                  <p><img src="img/aarne.jpeg" align="middle" width="200" height="200"></p>
                  <h3>Aarne Talman</h3>
                  <h4>Co-founder and CEO</h4>
                  <p><a href="https://basement.ai/aarne"><i class="fa fa-globe"></i></a>&nbsp;
                  <a href="https://scholar.google.com/citations?user=kKvJ8QIAAAAJ"><i class="fa fa-graduation-cap"></i></a>&nbsp;
                  <a href="https://twitter.com/aarnetalman"><i class="fa fa-twitter text-primary"></i></a>&nbsp;
                  <a href="https://github.com/aarnetalman"><i class="fa fa-github text-primary"></i></a>&nbsp;
                  <a href="https://linkedin.com/in/talman"><i class="fa fa-linkedin text-primary"></i></a></p>
                  <p class="text-muted">Aarne has over 16 years of experience in AI, ranging from
                  software development and academic research to strategy consulting. Prior to founding Basement AI,
                  Aarne led the Analytics consulting practice in the Nordic region at Gartner. 
                  He has also worked as CTO and Global Machine Learning Practice Lead at Nordcloud. 
                  Aarne is a part-time doctoral researcher in Language Technology at University of Helsinki. 
                  He leads the consulting business of Basement AI.
                  </p>
                </div>
                <div class="col-md-6 text-center">
                  <p><img src="img/stergios.jpg" align="middle" width="200" height="200"></p>
                  <h3>Stergios Chatzikyriakidis</h3>
                  <h4>Co-founder and Head of Research</h4>
                  <p><a href="https://www.stergioschatzikyriakidis.com"><i class="fa fa-globe"></i></a>&nbsp;
                  <a href="https://scholar.google.com/citations?user=dAYpE3MAAAAJ"><i class="fa fa-graduation-cap"></i></a>&nbsp;
                  <a href="https://twitter.com/stergioschatzi1"><i class="fa fa-twitter text-primary"></i></a>&nbsp;
                  <a href="https://linkedin.com/in/stergios-chatzikyriakidis-97ab0ab5"><i class="fa fa-linkedin text-primary"></i></a></p>
                  <p class="text-muted">Stergios is a Full Professor of Computational Linguistics at the University of Crete. 
                    He has written a textbook and close to 100 peer reviewed papers on natural 
                    language processing, computational linguistics and formal semantics. Prior to his current role at University of Crete, 
                    he was the Associate Director of Centre for Linguistic Theory and Studies in Probability (CLASP) at University of Gothenburg.
                    Stergios leads the research activities of Basement AI.
                  </p>
                </div>
              </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact us!</a>
              </div>
            </div>
          </div>
</section>
