<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Basement AI</h2>
                <hr class="primary">
                <p class="text-muted">Basement AI focuses on helping organisations to identify and unlock the value 
                  of their data through artificial intelligence.
                  We conduct research on natural language understanding and support both commercial 
                  and public sector organizations with their data,
                  AI and natural language processing related initiatives.
                  Our expertise and experience ranges from strategy definition to hands-on development of
                  state-of-the-art machine learning and NLP systems.</p>
                  <hr class="primary">
                  <p><img src="img/aarne.jpg" align="middle" width="200" height="200"></p>
                  <h3>Aarne Talman</h3>
                  <h4>Founder</h4>
                  <p><a href="https://basement.ai/aarne"><i class="fa fa-globe"></i></a>&nbsp;
                  <a href="https://scholar.google.com/citations?user=kKvJ8QIAAAAJ"><i class="fa fa-graduation-cap"></i></a>&nbsp;
                  <a href="https://twitter.com/aarnetalman"><i class="fa fa-twitter text-primary"></i></a>&nbsp;
                  <a href="https://github.com/aarnetalman"><i class="fa fa-github text-primary"></i></a>&nbsp;
                  <a href="https://linkedin.com/in/talman"><i class="fa fa-linkedin text-primary"></i></a></p>
                  <p class="text-muted">Aarne has 15 years of experience in AI, ranging from
                  software development and academic research to strategy consulting. Prior to founding Basement AI,
                  Aarne led the Analytics consulting practice in the Nordic region at Gartner. 
                  He has also worked as the UK CTO and Global Machine Learning Practice Lead at Nordcloud. 
                  He holds a PhD research position in Language Technology at University of Helsinki.
                  </p>
            </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact us!</a>
      </div>
        </div>
    </div>
</section>
